@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #1e392a; /* Dark green, similar to the shirt */
  --color-bg-variant: #3a5f48; /* A lighter shade of the shirt's green */
  --color-bg-hover: rgba(2, 68, 13, 0.6);
  --color-primary: #ffffff; /* White for primary elements */
  --color-primary-variant: rgba(255, 255, 255, 0.4); /* Slightly transparent white */
  --color-white: #ffffff; /* Pure white for text and other elements */
  --color-light: rgba(255, 255, 255, 0.6); /* Light white for less emphasized text */

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--color-bg) url("./assets/bg-texture.png");
  color: var(--color-white);
  line-height: 1.7;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, h2, h3, h4, h5 {
  font-weight: 600;
  margin-bottom: 1rem;
}

h1 { font-size: 2.8rem; }

section {
  margin-top: 7rem;
  padding: 1rem;
  background: var(--color-bg-variant);
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
}

section > h2, section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light { color: var(--color-light); }

a {
  color: var(--color-primary);
  transition: var(--transition);
  text-shadow: var(--shadow);
}

a:hover {
  color: var(--color-white);
  background-color: var(--color-primary-variant);
  padding: 0.2rem;
  border-radius: 0.2rem;
}

.btn {
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  box-shadow: var(--shadow);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

@media screen and (max-width: 1024px) {
  .container { width: var(--container-width-md); }
  section { margin-top: 6rem; }
}

@media screen and (max-width: 600px) {
  .container { width: var(--container-width-sm); }
  section > h2 { margin-bottom: 2rem; }
}
